// 主色
$main-color: #4e6ef2;
$main-font-color: #5e6d82;
$main-reverse-font-color: #ffffff;
$main-border-color: #e9e9e9;
$main-bgc: #ffffff;

$success-color: #5cb87a;
$info-color: #8896b3;
$warning-color: #e6a23c;
$danger-color: #f56c6c;
